$body-bg: #cacaca;
$primary: #1f3d81;
$secondary: #9fb5e2;
$success: #39b9cf;
$info: #1b2dc9;
$warning: #d3d023;
$danger: #e62222;
$light: #e9ecef;
$dark: #2c2335;
$grey: #cbcbcb;

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
$gradient2: radial-gradient(circle, rgba(42,48,161,1) 0%, rgba(212,212,212,1) 92%);

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
