$body-bg: #e2e2e2;
$primary: #7c16c0;
$secondary: #a883ab;
$success: #008cff;
$info: #cc00ff;
$warning: #d6008f;
$danger: #ff006a;
$light: #e9ecef;
$dark: #2c2335;
$grey: #cbcbcb;

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
